.container {
    display: flex;
}
.navbar {
    text-align: center;
    margin: -30px -100px 30px -100px;
    background-color: #191970;
    height: 200px;
}
h1 {
    color: white;
}
.fact {
    background-color: rgb(255, 255, 255);
    margin-bottom: 280px;
    margin-left: 380px;
}
.s1, .s2, .s3 {
    background-color: #dddddd;
    border-radius: 10px;
    margin-right: 100px;
}
a {
    margin-right: 50px;
}
a:hover {
    color:green;
}
a:link {
    color:white;
    text-decoration: none;
}

.footer {
    text-align: center;
    margin: 300px -100px -100px -100px;
    background-color: #191970;
    color: white;
}
